<div class="gallery">
  <div class="mycard">
    <div class="ribbon text-card">
      <iframe width="400" height="400" src="https://annavi11arrea1.github.io/Spinning-Flowers/"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
      <h2>CSS and Javascript: Spinning Flowers</h2>
      <p class="card-text">Really funimation I was determined to create. </p>
      <a href="https://annavi11arrea1.github.io/Spinning-Flowers/">See it in action!</a>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <iframe width="400" height="400" src="https://annavi11arrea1.github.io/circle/"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
      <h2>CSS and Javascript: Robotic Arm</h2>
      <p class="card-text">Another fun project I worked on. </p>
      <a href="https://annavi11arrea1.github.io/circle/">See it in action!</a>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "cssart.png" %>
      <h2>DEV Challenge: CSS</h2>
      <p class="card-text">Built with vanilla CSS, for a DEV Challenge. If you want to learn the in's and outs of
        CSS, trying constructing an image with it! This lead to me learning a bit about SVGs too.  </p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "bluegreen.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "butterfly.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "car.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "cat.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "dino.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "elephant2.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "kenesis.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "mushroom.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "psychdelic.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "squares.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "temet.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "unicorn.jpg", class: "gallery-image" %>
      <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
  </div>
</div>