<div class="gallery">
  <div class="text-card">
    <div class="row">
      <div class="column">
        <%= image_tag "booth2.jpg", class:"gallery-image" %>
        <h1 class="barlow-thin">Ever Fluorescent</h1>
        <div class="socials">
          <a href="https://www.instagram.com/everfluorescentofficial/" class="instagram">Instagram</a>
          <a href="https://www.facebook.com/stayfluorescent/" class="facebook">Facebook</a>
          <a href="https://everfluorescent.myshopify.com/" class="shopify">Shopify</a>
        </div>
      </div>
      <div class="column">
        <p>I have been selling my art at live events since 2017. The Ever Fluorescent booth emits a fantastic vibe. Decorated with leds and blacklights,
          the booth is a visual spectacle.</p>
      </div>
    </div>
  </div>
  <div class="gallery">
    <%= image_tag "bluegreen.jpg", class:"dev-feed-item" %>
    <%= image_tag "butterfly.jpg", class:"dev-feed-item" %>
    <%= image_tag "car.jpg", class:"dev-feed-item" %>
    <%= image_tag "cat.jpg", class:"dev-feed-item" %>
    <%= image_tag "dino.jpg", class:"dev-feed-item" %>
    <%= image_tag "elephant2.jpg", class:"dev-feed-item" %>
    <%= image_tag "kenesis.jpg", class:"dev-feed-item" %>
    <%= image_tag "mushroom.jpg", class:"dev-feed-item" %>
    <%= image_tag "psychdelic.jpg", class:"dev-feed-item" %>
    <%= image_tag "squares.jpg", class:"dev-feed-item" %>
    <%= image_tag "temet.jpg", class:"dev-feed-item" %>
    <%= image_tag "unicorn.jpg", class:"dev-feed-item" %>
  </div>
</div>