<div class="gallery">
  <div class="ribbon text-card">
    <div class="column">
      <%= image_tag "booth2.jpg", class:"gallery-image" %>
      <h2>Event Vendor</h2>
      <div class="column">
        <a href="https://www.instagram.com/everfluorescentofficial/" class="instagram">Instagram</a>
        <a href="https://www.facebook.com/stayfluorescent/" class="facebook">Facebook</a>
      </div>
      <p>I have been selling my art at live events since 2017. The Ever Fluorescent booth emits a fantastic vibe. Decorated with leds and blacklights,
        the booth is a visual spectacle.</p>
      <div class="gallery">
        <%= image_tag "bluegreen.jpg"%>
        <%= image_tag "butterfly.jpg"%>
        <%= image_tag "car.jpg"%>
        <%= image_tag "cat.jpg"%>
        <%= image_tag "dino.jpg"%>
        <%= image_tag "elephant2.jpg"%>
        <%= image_tag "kenesis.jpg"%>
        <%= image_tag "mushroom.jpg"%>
        <%= image_tag "psychdelic.jpg"%>
        <%= image_tag "squares.jpg"%>
        <%= image_tag "temet.jpg"%>
        <%= image_tag "unicorn.jpg"%>
      </div>
    </div>
  </div>
</div>