<div class="gallery">
    <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "booth2.jpg", class:"gallery-image" %>
        <h2>Event Vendor</h2>
        <div class="column">
          <a href="https://www.instagram.com/everfluorescentofficial/" class="instagram">Instagram</a>
          <a href="https://www.facebook.com/stayfluorescent/" class="facebook">Facebook</a>
        </div>
        <p>I have been selling my art at live events since 2017. The Ever Fluorescent booth emits a fantastic vibe. Decorated with leds and blacklights,
          the booth is a visual spectacle.</p>
        <div class="gallery">
          <%= image_tag "bluegreen.jpg", class: "gallery-image" %>
          <%= image_tag "butterfly.jpg", class: "gallery-image" %>
          <%= image_tag "car.jpg", class: "gallery-image" %>
          <%= image_tag "cat.jpg", class: "gallery-image" %>
          <%= image_tag "dino.jpg", class: "gallery-image" %>
          <%= image_tag "elephant2.jpg", class: "gallery-image" %>
          <%= image_tag "kenesis.jpg", class: "gallery-image" %>
          <%= image_tag "mushroom.jpg", class: "gallery-image" %>
          <%= image_tag "psychdelic.jpg", class: "gallery-image" %>
          <%= image_tag "squares.jpg", class: "gallery-image" %>
          <%= image_tag "temet.jpg", class: "gallery-image" %>
          <%= image_tag "unicorn.jpg", class: "gallery-image" %>
        </div>
      </div>
    </div>
  </div>
</div>