<div class="gallery">
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "RainbowBBQchicken.jpg" %>
      <h2>BBQ Chicken Master Class Signup</h2>
      <p>Built with vanilla CSS, this is where I really started to love CSS. The radio buttons are animated and change color. Super fun. </p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "leadstrackerextension.jpg" %>
      <h2>Leads Tracker Extension</h2>
      <p class="card-text">My first chrome extension. Keep track of your leads.</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "Hairsalon.jpg" %>
      <h2>Hair Salon</h2>
      <p class="card-text">Landing page for a salon.</p>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "linkinbio.png" %>
      <h2>Link in Bio</h2>
      <p class="card-text">A fun landing page for a link in bio.</p>
      <a href="https://annavillarreal.info">Visit my link in Bio</a>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <%= image_tag "halloween_costume.png" %>
      <h2>Halloween Costume Generator</h2>
      <p class="card-text">Text prompted halloween costume generator to get ideas for costumes.</p>
    </div>
  </div>
</div>
