<div class="gallery">
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "bitorama.png" %>
      </div>
      <div class="column">
        <h3>B1T-0-RAMA</h3>
        <p>I built this single page app the help build a deeper understanding if binary and number systems.</p>
        <a href="https://annavi11arrea1.github.io/BitORama/">View Page</a>
        <a href="https://github.com/AnnaVi11arrea1/BitORama">View Code on GitHub</a>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "halloween_costume.png"%>
      </div>
      <div class="column">
        <h3>AI Halloween Costume Generator</h3>
        <p>Text prompted halloween costume generator to get ideas for costumes. Created using Gemini AI studio.</p>
        <a href="https://github.com/AnnaVi11arrea1/halloween_costume_generator">View Code on GitHub</a>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "devfollowers.png" %>
      </div>
      <div class="column">
        <h3>Dev Follower Analysis</h3>
        <p>Learning about my DEV followers using Node.js, GraphQL, and the DEV API.</p>
        <a href="https://dev.to/annavi11arrea1/dev-follower-analysis-4dhc">View Article</a>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "RainbowBBQchicken.jpg" %>
      </div>
      <div class="column">
        <h3>BBQ Chicken Master Class Signup</h3>
        <p>Built with vanilla CSS, this is where I really started to love CSS. The radio buttons are animated and change color.
          Super fun. </p>
        <a href="https://annavi11arrea1.github.io/RainbowBBQchicken/">View Page</a>
        <a href="https://github.com/AnnaVi11arrea1/RainbowBBQchicken">View Code on GitHub</a>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "leadstrackerextension.jpg" %>
      </div>
      <div class="column">
        <h3>Leads Tracker Extension</h3>
        <p>My first chrome extension. Keep track of your leads.</p>
        <a href="https://annavi11arrea1.github.io/LeadsTrackerExtension/">View Page</a>
        <a href="https://github.com/AnnaVi11arrea1/Leads-Tracker">View Code on GitHub</a>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "linkinbio.png" %>
      </div>
      <div class="column">
        <h3>Link in Bio</h3>
        <p>A fun landing page for a link in bio.</p>
        <a href="https://annavillarreal.info">Visit my link in Bio</a>
      </div>
    </div>
  </div>
</div>
