<div class="gallery">
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "RainbowBBQchicken.jpg", class: "gallery-image" %>
      </div>
      <div class="column">
        <h3>BBQ Chicken Master Class Signup</h3>
        <p>Built with vanilla CSS, this is where I really started to love CSS. The radio buttons are animated and change color. Super fun. </p>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "leadstrackerextension.jpg", class: "gallery-image" %>
      </div>
      <div class="column">
        <h3>Leads Tracker Extension</h3>
        <p>My first chrome extension. Keep track of your leads.</p>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "Hairsalon.jpg", class: "gallery-image" %>
      </div>
      <div class="column">
        <h3>Hair Salon</h3>
        <p>Landing page for a salon.</p>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "linkinbio.png", class: "gallery-image" %>
      </div>
      <div class="column">
        <h3>Link in Bio</h3>
        <p>A fun landing page for a link in bio.</p>
        <a href="https://annavillarreal.info">Visit my link in Bio</a>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "halloween_costume.png", class: "gallery-image" %>
      </div>
      <div class="column">
        <h3>Halloween Costume Generator</h3>
        <p>Text prompted halloween costume generator to get ideas for costumes.</p>
      </div>
    </div>
  </div>
</div>
